body {
    background-color: #312F37;
    color: #F1FAEE;

    line-height: 1.6;
    font-family: "Roboto Light" ,Arial, sans-serif;

    margin: 0;
    padding: 0;
}


h2 {
    color: #ffc9c9;
    margin-top: 2em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.3em;
}

h3 {
    margin-top: 1.5em;
}

p {
    margin: 0.5em 0 1em;
}

header {
    position: absolute;
    display: flex;
    background: linear-gradient(to left, #696797, #312F37);

    justify-content: right;
    align-items: center;

    height: 15dvh;
    width: 70%;

    top: 0;
    right: 0;
}

header div {
    position: absolute;
    display: flex;
    right: 0;
}

header h1 {
    margin-right: 0.5em;
}

header img.logo {
    margin-right: 2em;
    transform: rotate(17deg);
    align-self: center;
}

/*Nawigacja*/
nav {
    position: fixed;
    background: linear-gradient(#7c8ba1, #9580a0);
    border-right: 0.2em solid #786084;
    max-width: 100px;
    width: 8dvw;
    height: 100%;

    left: 0;
    bottom: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 2em 0;
    text-align: center;
}

nav ul li img{
    max-width: 70px;
    width: 4dvw;
}

/*Główna czesc strony*/
div.midSection {
    display: flex;
    flex-direction: column;
    margin-top: 15dvh;
    margin-left: 8dvw;

    padding: 1em;
}

div.firstBox, div.secondBox, div.thirdBox {
    border-radius: 2em;
    font-size: 1em;
    margin: 0.5em 2dvw 1em 2dvw;
    padding: 1em;
}

div.firstBox {
    background: linear-gradient(to left, transparent, 10%, darkslategrey, darkslategrey), url("images/pacman-7024232_1280.jpg");
    background-position: right center;
}

div.secondBox {
    background: linear-gradient(to left, transparent, 10%, rgb(28, 122, 36), rgb(28, 122, 36)), url("images/pacman-7024232_1280.jpg");
    background-position: right center;
}

div.thirdBox {
    background: linear-gradient(to left, transparent, 10%, rgb(182, 104, 81), rgb(182, 104, 81)), url("images/pacman-7024232_1280.jpg");
    background-position: right center;
}

a {
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: #171616;
    border-radius: 2em;
    position: fixed;
    text-align: center;
    font-size: 0.5em;
    padding: 0.01dvh 1dvw;
    bottom: 1em;
    right: 6em;
}

@media only screen and (max-width: 900px)
{
    header {
        height: 15dvh;
        width: 100%;
    }
    header h1 {
        margin-right: 2dvw;
        font-size: 1.5em;
    }
    header img.logo {
        margin-right: 3dvw;
        width: 20%;
        transform: rotate(17deg);
        align-self: center;
    }

    nav {
        position: absolute;
        width: 15dvw;
        background: transparent;
        left: 0;
        top: 0;
    }

    nav ul li{
        visibility: hidden;
    }
    nav ul li:first-child{
        visibility: visible;
        margin-top: 3dvh;
    }
    nav ul li img{
        width: 10dvh;
        content: url("./images/hamburger-menu-icon.png");
    }

    div.midSection {
        display: flex;
        flex-direction: column;
        margin-top: 15dvh;
        margin-left: 0;

        padding: 1em;
    }
    div.firstBox, div.secondBox, div.thirdBox {
        font-size: 0.8em;
        margin: 0.5em 2dvw 1em 2dvw;
        padding: 1em;
    }
}

@media only screen and (max-width: 600px)
{
    header {
        height: 10dvh;
        width: 100%;
    }
    header h1 {
        margin-right: 2dvw;
        font-size: 1.5em;
    }
    header img.logo {
        margin-right: 3dvw;
        height: 20%;
        transform: rotate(17deg);
        align-self: center;
    }

    nav {
        position: absolute;
        width: 15dvw;
        background: transparent;
        left: 0;
        top: 0;
    }

    nav ul li{
        visibility: hidden;
    }
    nav ul li:first-child{
        visibility: visible;
        margin-top: 2.5dvh;
    }
    nav ul li img{
        width: 5dvh;
        content: url("./images/hamburger-menu-icon.png");
    }

    div.midSection {
        display: flex;
        flex-direction: column;
        margin-top: 10dvh;
        margin-left: 0;

        padding: 1em;
    }
    div.firstBox, div.secondBox, div.thirdBox {
        font-size: 0.8em;
        margin: 0.5em 2dvw 1em 2dvw;
        padding: 1em;
    }

    div.firstBox {
        background: darkslategrey;
    }

    div.secondBox {
        background: rgb(28, 122, 36);
    }

    div.thirdBox {
        background: rgb(182, 104, 81);
    }
}


/*header, footer, nav, div, ul, li, h1, h2, h3, p{*/
/*    border: 2px dotted red;*/
/*}*/