html {
    --background: #141b41;
    --elementsBg: #306bac;
    --firstElementBg: #5530ac;
    --elementsBorder: #311047;

    --fontColor: #f0e9f1;
    --specialFontColor: #ffae95;
}

body {
    background-color: var(--background);
    color: var(--fontColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 80dvh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    margin-bottom: 2em;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    row-gap: 2em;

    margin: 0;
    padding: 1em;
}


/* Pojedyncze Elementy */
.weatherContainer {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;

    background: var(--elementsBg);
    border: 5px solid var(--elementsBorder);
    border-radius: 2em;
    width: 100%;
    height: 25em;

    /* margin: 1em; */
}

#firstElement {
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 9;

    justify-content: space-around;
    background-color: var(--firstElementBg);

    width: 100%;
    height: 10em;
}

#firstElement div {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
}

#firstElement div:last-of-type {
    display: flex;
    flex-direction: row;

    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;
}

.weatherContainer p {
    margin: 0.3em;
}

.weatherContainer img {
    margin-top: 1.5em;
}

#firstElement div p {
    margin: 0;
}

#firstElement div img {
    margin-top: 0;
}

.temp {
    font-size: 2em;
    color: var(--specialFontColor);

    padding-top: 1em;
}

#firstElement div .temp{
    padding-top: 0;
}